@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
#tela{
  
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100% 100%;
}
#principal{
  height: 100vh;
  display: flex;
  
}
#boas_vindas{
  display: flex;
  align-items:center;
  justify-content: center;
}

